.rc-tree {
  border: none;
  width: 500px;
  background-color: #262626;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  color: #ffffff;
  min-width: 320px;
}
.rc-tree .rc-tree-treenode {
  padding-left: 15px;
}
.rc-tree .rc-tree-treenode .rc-tree-indent .rc-tree-indent-unit {
  width: 25px;
}
.rc-tree .rc-tree-list .rc-tree-list-holder .rc-tree-list-holder-inner .rc-tree-treenode {
  height: 30px;
  line-height: 30px;
}
.rc-tree .rc-tree-list .rc-tree-list-holder .rc-tree-list-holder-inner .rc-tree-treenode:hover {
  background-color: #03045e;
}
.rc-tree .rc-tree-list .rc-tree-list-holder .rc-tree-list-holder-inner .rc-tree-treenode .rc-tree-switcher {
  display: none;
}
.rc-tree .rc-tree-list .rc-tree-list-holder .rc-tree-list-holder-inner .rc-tree-treenode .rc-tree-node-content-wrapper span .TreeNodeIcon {
  position: absolute;
  top: 15px;
  transform: translate(0, -50%);
}
.rc-tree .rc-tree-list .rc-tree-list-holder .rc-tree-list-holder-inner .rc-tree-treenode .rc-tree-node-content-wrapper .rc-tree-title {
  padding-left: 5px;
}
.rc-tree .rc-tree-list .rc-tree-list-holder .rc-tree-list-holder-inner .rc-tree-treenode .rc-tree-node-content-wrapper.rc-tree-node-selected {
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
